@mixin bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin primary-font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@mixin font-menu {
    font-size: 1.5vw;

}

@mixin form-width {
    width: 50%;
}


@mixin h2 {
    font-size: 2vw;
}

@mixin p {
    font-size: 1.2vw;
    font-weight: 100;
}

@mixin nav-font {
    color: white;
    padding: 0.3vw 0vw;
    letter-spacing: 0.3vw;
    font-weight: 500;
}

@mixin scroll {
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
        display: none;
    }
}

@mixin shape {
    width: 4vw;
    height: 4vw;
    color: white;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in;
    color: transparent;
    border-radius: 12px;
    transform: scale(0.1);

}

@mixin section-bg {
    background: radial-gradient(black, rgb(51, 50, 51), );

}

@mixin scroll-arr {
    color: transparent;
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translateX(-50%);
        top: 45%;

}

@mixin selected-item {
    border: 1px solid white;
    background-color: #6b6b6b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236b6b6b'/%3E%3Cstop offset='1' stop-color='%232b2b2b'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23545454' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");

background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@mixin link-cursor {
    cursor: url("tags/pointer/jack-sh-p-white.png"), auto;
}




* {
    box-sizing: border-box;
    margin: 0px;
    cursor: url("tags/pointer/jack-sh-p.png"), auto;

    @include primary-font;
}


* p {
    @include p;
    color: rgb(218, 218, 218);
}



body {
    width: 100vw;
    height: 100vh;
    background: url("bg3.jpg");
    @include bg-img;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

header:hover,
a[href]:hover,
#logo:hover {
    @include link-cursor;

}

#container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}

header {
    font-size: 4vw;
    background: black;
    color: white;
    padding: 0.1em 0.2em;
    opacity: 0.9;
    


    &:hover {
        cursor: url("tags/poiter-lin.png"), auto;
    }


    a {
        text-decoration: none;
        color: white;
    }
}

nav {
    position: relative;
    opacity: 0.9;


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: absolute;
        top: 10vh;


        li {
            margin-bottom: 1vw;

            @include font-menu;

            a {
                text-decoration: none;
                @include nav-font;



                &:hover {
                    background-color: rgba($color: grey, $alpha: 0.5);
                    padding: 0.3vw;
                }


            }

            .current {
                background-color: black;
                padding: 0.2vw 0.5vw;

            }
        }



    }
}

footer {
    display: flex;
    position: absolute;
    bottom: 0%;

    display: none;




    ul {
        list-style: none;
        display: flex;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;




        li {
            margin: 0vw 0vw;



            i {
                font-size: 1.5vw;
                padding: 0.5vw;
                color: white;
                text-shadow: 0vw 0vw 3vw black;



            }



            #shape1 {

                @include shape();
                background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                transition: scale(0) .5s ease-in;




                &:hover {

                    transform: scale(1);



                }


            }

            #shape2 {
                @include shape();
                background: #4267b2;
                transition: scale(0) .5s ease-in;




                &:hover {
                    transform: scale(1);

                }


            }

            #shape3 {
                @include shape();
                transition: scale(0) .5s ease-in;
                background: #ff7700;


                &:hover {
                    transform: scale(1);




                }


            }




        }





    }


}

.artist {
    height: 100%;
    width: 40vw;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    opacity: 0.8;


    padding: 2vw 2vw 4vw 2vw;

    // background: radial-gradient(black, rgb(51, 50, 51), );
    @include section-bg;

    .arrow-right {
        @include scroll-arr;
        right: 5%;
    }
    
    .arrow-left {
        @include scroll-arr; 
            left: 8%;
        }
        

        .fas {
            margin-bottom: 1vw;
        }

        .one-arr {
            animation: blink 3s infinite ease;

            @keyframes blink {
                
                
                33% {color: grey;}
                66% {color: transparent;}
                100% {color: transparent;}
              }
        }

        .two-arr {
            animation: blinkk 3s infinite ease;

            @keyframes blinkk {
                
                
                
                33% {color: transparent;}
                66% {color: grey;}
                100% {color: transparent;}
              }
        }

        .three-arr {
            animation: blinkkk 3s infinite ease;

            @keyframes blinkkk {
                
                
                33% {color: transparent;}
                66% {color: transparent;}
                100% {color: grey;}
              }
        }

        .titel {

            margin-bottom: 1vw;
            color: white;
            font-size: 1.3vw;
            align-self: flex-start;
    
    
        }
    
    
    
        img {
            width: 100%;
            height: 10vw;
            object-fit: cover;
        }
    
        #iconset-cont {
            color: white;
            background: orange;
            margin: 0;
            height: 10%;
            width: 60%;
            bottom: 1%;
            right: 8%;
        }
    
        .nikk-profile,
        .pr {
            color: white;
            display: none;
            margin: 0;
            height: 90%;
            // padding: 0vw 1vw 5vw 1vw;
            border-bottom: 1px solid white;
            position: absolute;
            // display: flex;
            flex-direction: column;
            align-content: space-between;
            left: 0%;
            top: 0%;
            background: radial-gradient(rgb(41, 41, 41), black);
    
    
    
            h4 {
                padding: 0.5vw 1.5vw 0.5vw 1.5vw;
                font-size: 1.5vw;
                margin-top: 1vw;
            }
    
            p {
                height: 58.5%;
                overflow: scroll;
                text-align: justify;
                padding: 0vw 1.5vw 0vw 1.5vw;
                margin-top: 1.5vw;
    
            }
    
    
        }
    
        .a-selection {
            // margin: 2vw;
            height: 100%;
            width: 100%;
    
            border-top: 0.1vw solid white;
            border-bottom: 0.1vw solid white;
    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            overflow: scroll;
            position: relative;
    
            margin-left: -0.3vw;
            margin-top: 0vw;
            margin-bottom: 0vw;
    
    
    
    
    
            &::-webkit-scrollbar-track {
                background: transparent;
            }
    
            &::-webkit-scrollbar-thumb {
                background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
            }
    
            &::-webkit-scrollbar {
                width: 12px;
            }
    
            &::-webkit-scrollbar:horizontal,
            &::-webkit-scrollbar:vertical {
                display: none;
            }
    
    
        }
    
        #card-nikk {
            width: 40%;
            position: absolute;
            top: 10%;
            right: 50%;
    
    
    
    
    
        }
    
        #card-fjaak {
            width: 40%;
            position: absolute;
            left: 50%;
            top: 13%;
    
        }
    
        #card-fadi {
            width: 42%;
            position: absolute;
            top: 40%;
            right: 48%;
    
        }
    
        #card-victor {
            width: 38%;
            position: absolute;
            top: 40%;
            right: 10%;
    
        }
    
        #card-manuel {
            width: 36%;
            position: absolute;
            top: 70%;
            right: 52%;
    
        }
    
        #card-balas {
            width: 30%;
            position: absolute;
            top: 70%;
            left: 59%;
    
        }
    
        #card-claus {
            width: 36%;
            position: absolute;
            right: 51%;
            top: 95%;
            // transform: rotate(8deg);
    
    
    
        }
    
        #card-anna {
            width: 33%;
    
            position: absolute;
            top: 105%;
            left: 59%;
    
        }
    
        #card-framework {
            width: 43%;
            position: absolute;
            top: 120%;
            left: 13%;
    
        }
    
    
    
    
    
    
        .a-card {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            // object-fit: cover;
            margin: 0;
            position: relative;
            z-index: 5;
            width: 50%;
            height: 40%;
            // margin: 0.2vw;
            // margin-bottom: -0.5vw;
            margin-top: -5vw;
    
            // border: 2px solid green;
    
    
    
    
    
            overflow: visible;
    
    
            transition-property: scale(1);
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(.93, -0.61, .11, 1.27);
            transform-origin: 50% 50%;
    
    
            &:hover {
                transform: scale(1.5);
                overflow: hidden;
                z-index: 10;
                fill: white;
            }
    
            &:active {
                transform: scale(0.9);
                overflow: hidden;
                z-index: 0;
    
            }
    
    
    
    
            svg {
                width: 100%;
                object-fit: fill;
                stroke-width: 0vw;
                transition: all .5s cubic-bezier(0, .87, 1, .14);
                z-index: 5;
    
                &:hover {
    
    
                    path {
                        fill: rgb(255, 172, 186);
                        stroke-width: 0.5vw;
                        stroke: black;
                        stroke-dasharray: 100;
                        stroke-dashoffset: 100;
                        animation: dash 1s linear infinite;
    
                    }
    
                    @keyframes dash {
                        to {
                            stroke-dashoffset: 1000;
                            fill: rgb(255, 172, 186);

                        }
                    }
                }
    
    
    
    
                path {
                    fill: pink;
                    stroke-width: 0.5vw;

    
    
    
    
    
                }
    
    
            }
    
        }
    


    }

.profile {
    position: absolute;
    background: green;
    width: 40vw;
    margin: -0.5vw;
    padding: 1.8vw;
    top: -30vw;




    h2 {
        @include h2;
        margin-bottom: 2vw;
    }

    p {
        @include p;
        text-align: justify;


    }

    &.profile {
        background: green;


    }

}

.form {
    height: 100%;
    width: 40vw;
    background: black;
    opacity: 0.8;
    display: flex;
    justify-content: flex-end;

    position: relative;
    overflow: hidden;
    color: black;
    padding: 1vw;

    .contact-text {
        height: 100%;
        background: white;
        padding: 1vw 0.4vw 1vw 1vw;
        position: relative;

        h3,
        p {
            background: black;
            font-size: 1vw;
        }

        h3 {
            padding: 6vw;
            margin-bottom: 1vw;

        }

        .p {
            height: 100%;
            padding: 2vw;
            font-weight: 400;
            text-align: justify;
            text-transform: uppercase;

        }

        .foto {
            width: 100%;
            height: 100%;
            background: url("artist.png");
            background-size: cover;
            opacity: 1;
            filter: grayscale(10%) contrast(150%) brightness(200%);

            background-repeat: no-repeat;
            background-position: center;

            border: none;

        }


    }

    div {
        color: white;

        background: white;
        display: flex;
        flex-direction: column;

        width: 50%;
        position: relative;

        border: 2px solid white;
        padding: 1vw 1vw 1vw 0.4vw;



        ::placeholder,
        input {

            color: rgb(114, 114, 114);
            font-style: italic;

            @include primary-font;
            font-size: 0.8vw;

        }


        input,
        textarea,
        input {

            width: 100%;
            margin-bottom: 0.3vw;
            padding: 0.6vw;
            border: 1px solid white;
            background: black;
            color: white;
            font-style: normal;

            text-transform: uppercase;

            text-align: right;

            &:focus {}
        }

        input[type="date"]::-webkit-inner-spin-button {
            display: none;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            color: white;

        }

        input[type="date"] {
            font-size: 0.8vw;
            color: rgb(114, 114, 114);


        }

        button {
            border: none;
            padding: 0.3vw 0vw;
            color: white;
            background: black;
            font-weight: 500;
            width: 100%;
            height: 4vw;
            margin-top: 5vw;


            align-self: flex-end;

            @include primary-font;
            font-size: 1.5vw;

        }
    }





}

#events {
    height: 100%;
    width: 40vw;
    @include section-bg;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2vw;
    position: relative;

    h3 {
        margin-bottom: 1vw;
    }

    h3,
    p {
        font-size: 1.2vw;
    }

    .event-list {
        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;
        padding-top: 2vw;
        height: 85%;
        overflow: scroll;


        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar:horizontal {
            display: none;
        }
    }


    #event-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1vw;
        

        &:hover {
            @include selected-item;
        }

    }


}

.releases {

    height: 100%;
    width: 40vw;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2vw;
    position: relative;
    @include section-bg;

    h3 {
        margin-bottom: 1vw;
    }

    h3,
    p {
        font-size: 1.3vw;
    }

    .release-list {
        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;
        padding-top: 2vw;
        height: 85%;
        overflow: scroll;
        overflow: visible;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar:horizontal {
            display: none;
        }

        .release-item {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            overflow: hidden;
            position: relative;
            height: 14vw;
            width: 100%;
            transition: background-color .3s ease-in;
            padding: 1vw;


            &:hover {
                // background: radial-gradient(rgb(77, 57, 60), black);
                @include selected-item;
               
            }





            .release-pic>img {
                width: 12vw;
                height: 12vw;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 0vw 0vw 3vw rgba($color: white, $alpha: 0.5);
                border-radius: 50%;
                position: absolute;
                left: 9%;
                top: 5%;





            }

            .release-pic #big-pic {
                position: absolute;
                left: 9%;
                top: 7%;
                z-index: 9;
                box-shadow: 0vw 0vw 3vw rgba($color: black, $alpha: 0.5);
                transition: 0.5s ease-in-out;
                transform: scale(1) translate(0%, 0%);



                &:hover {
                    z-index: 11;
                    transform: scale(1.7);

                }

            }



            #mini-pic {
                display: none;
                width: 14%;
                border-radius: 50%;
                bottom: 15%;
                left: 4%;
                box-shadow: 2px 3px 4px rgba($color: grey, $alpha: 0.8);
                position: absolute;
                z-index: 10;
                transition: 0.5s ease-in-out;

                &:hover {
                    z-index: 11;
                    box-shadow: 3px 0px 6px rgba($color: grey, $alpha: 0.8);

                    transform: scale(2.4);

                }
            }





            .release-details {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: absolute;
                width: 60%;
                left: 13%;
                z-index: 12;
                // text-transform: uppercase;



                margin-left: 12vw;



                .release-name {
                    margin-bottom: 2vw;


                    span {
                        margin: 0vw 0.5vw;
                    }
                }

                .release-name {
                    background: rgb(0, 0, 0);
                    padding: 0.3vw;
                    width: 55%;
                }

                .tracklist>p {
                    font-size: 1vw;
                    line-height: 1.5vw;
                    width: 86%;

 
                }
            }

        }

    }
}






/* ------------- Additonal Styling ---------*/

.back,
.vinyl-shop {
    font-style: italic;
    position: absolute;
    bottom: 1.5vw;
    font-size: 1vw;
    color: white;
    align-self: flex-start;
    position: absolute;
    transition: all .4s ease-in-out;
    width: 0%;
    padding: 0vw 1vw 0vw 0vw;
    left: 3.5%;




    &:hover {
        background: white;
        color: black;
        padding: 0vw 1vw 0vw 1vw;
        width: 9%;


    }

    &:active {
        width: 40%;
    }

}