* {
  box-sizing: border-box;
  margin: 0px;
  cursor: url("tags/pointer/jack-sh-p.png"), auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

* p {
  font-size: 1.2vw;
  font-weight: 100;
  color: #dadada;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header:hover,
a[href]:hover,
#logo:hover {
  cursor: url("tags/pointer/jack-sh-p-white.png"), auto;
}

#container {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

header {
  font-size: 4vw;
  background: black;
  color: white;
  padding: 0.1em 0.2em;
  opacity: 0.9;
}
header:hover {
  cursor: url("tags/poiter-lin.png"), auto;
}
header a {
  text-decoration: none;
  color: white;
}

nav {
  position: relative;
  opacity: 0.9;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 10vh;
}
nav ul li {
  margin-bottom: 1vw;
  font-size: 1.5vw;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.3vw 0vw;
  letter-spacing: 0.3vw;
  font-weight: 500;
}
nav ul li a:hover {
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0.3vw;
}
nav ul li .current {
  background-color: black;
  padding: 0.2vw 0.5vw;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0%;
  display: none;
}
footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer ul li {
  margin: 0vw 0vw;
}
footer ul li i {
  font-size: 1.5vw;
  padding: 0.5vw;
  color: white;
  text-shadow: 0vw 0vw 3vw black;
}
footer ul li #shape1 {
  width: 4vw;
  height: 4vw;
  color: white;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in;
  color: transparent;
  border-radius: 12px;
  transform: scale(0.1);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  transition: scale(0) 0.5s ease-in;
}
footer ul li #shape1:hover {
  transform: scale(1);
}
footer ul li #shape2 {
  width: 4vw;
  height: 4vw;
  color: white;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in;
  color: transparent;
  border-radius: 12px;
  transform: scale(0.1);
  background: #4267b2;
  transition: scale(0) 0.5s ease-in;
}
footer ul li #shape2:hover {
  transform: scale(1);
}
footer ul li #shape3 {
  width: 4vw;
  height: 4vw;
  color: white;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in;
  color: transparent;
  border-radius: 12px;
  transform: scale(0.1);
  transition: scale(0) 0.5s ease-in;
  background: #ff7700;
}
footer ul li #shape3:hover {
  transform: scale(1);
}

.artist {
  height: 100%;
  width: 40vw;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  opacity: 0.8;
  padding: 2vw 2vw 4vw 2vw;
  background: radial-gradient(black, #333233);
}
.artist .arrow-right {
  color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%);
  top: 45%;
  right: 5%;
}
.artist .arrow-left {
  color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%);
  top: 45%;
  left: 8%;
}
.artist .fas {
  margin-bottom: 1vw;
}
.artist .one-arr {
  animation: blink 3s infinite ease;
}
@keyframes blink {
  33% {
    color: grey;
  }
  66% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
.artist .two-arr {
  animation: blinkk 3s infinite ease;
}
@keyframes blinkk {
  33% {
    color: transparent;
  }
  66% {
    color: grey;
  }
  100% {
    color: transparent;
  }
}
.artist .three-arr {
  animation: blinkkk 3s infinite ease;
}
@keyframes blinkkk {
  33% {
    color: transparent;
  }
  66% {
    color: transparent;
  }
  100% {
    color: grey;
  }
}
.artist .titel {
  margin-bottom: 1vw;
  color: white;
  font-size: 1.3vw;
  align-self: flex-start;
}
.artist img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
.artist #iconset-cont {
  color: white;
  background: orange;
  margin: 0;
  height: 10%;
  width: 60%;
  bottom: 1%;
  right: 8%;
}
.artist .nikk-profile,
.artist .pr {
  color: white;
  display: none;
  margin: 0;
  height: 90%;
  border-bottom: 1px solid white;
  position: absolute;
  flex-direction: column;
  align-content: space-between;
  left: 0%;
  top: 0%;
  background: radial-gradient(#292929, black);
}
.artist .nikk-profile h4,
.artist .pr h4 {
  padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  font-size: 1.5vw;
  margin-top: 1vw;
}
.artist .nikk-profile p,
.artist .pr p {
  height: 58.5%;
  overflow: scroll;
  text-align: justify;
  padding: 0vw 1.5vw 0vw 1.5vw;
  margin-top: 1.5vw;
}
.artist .a-selection {
  height: 100%;
  width: 100%;
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: scroll;
  position: relative;
  margin-left: -0.3vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.artist .a-selection::-webkit-scrollbar-track {
  background: transparent;
}
.artist .a-selection::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.8);
}
.artist .a-selection::-webkit-scrollbar {
  width: 12px;
}
.artist .a-selection::-webkit-scrollbar:horizontal, .artist .a-selection::-webkit-scrollbar:vertical {
  display: none;
}
.artist #card-nikk {
  width: 40%;
  position: absolute;
  top: 10%;
  right: 50%;
}
.artist #card-fjaak {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 13%;
}
.artist #card-fadi {
  width: 42%;
  position: absolute;
  top: 40%;
  right: 48%;
}
.artist #card-victor {
  width: 38%;
  position: absolute;
  top: 40%;
  right: 10%;
}
.artist #card-manuel {
  width: 36%;
  position: absolute;
  top: 70%;
  right: 52%;
}
.artist #card-balas {
  width: 30%;
  position: absolute;
  top: 70%;
  left: 59%;
}
.artist #card-claus {
  width: 36%;
  position: absolute;
  right: 51%;
  top: 95%;
}
.artist #card-anna {
  width: 33%;
  position: absolute;
  top: 105%;
  left: 59%;
}
.artist #card-framework {
  width: 43%;
  position: absolute;
  top: 120%;
  left: 13%;
}
.artist .a-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  position: relative;
  z-index: 5;
  width: 50%;
  height: 40%;
  margin-top: -5vw;
  overflow: visible;
  transition-property: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.93, -0.61, 0.11, 1.27);
  transform-origin: 50% 50%;
}
.artist .a-card:hover {
  transform: scale(1.5);
  overflow: hidden;
  z-index: 10;
  fill: white;
}
.artist .a-card:active {
  transform: scale(0.9);
  overflow: hidden;
  z-index: 0;
}
.artist .a-card svg {
  width: 100%;
  object-fit: fill;
  stroke-width: 0vw;
  transition: all 0.5s cubic-bezier(0, 0.87, 1, 0.14);
  z-index: 5;
}
.artist .a-card svg:hover path {
  fill: #ffacba;
  stroke-width: 0.5vw;
  stroke: black;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 1s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
    fill: #ffacba;
  }
}
.artist .a-card svg path {
  fill: pink;
  stroke-width: 0.5vw;
}

.profile {
  position: absolute;
  background: green;
  width: 40vw;
  margin: -0.5vw;
  padding: 1.8vw;
  top: -30vw;
}
.profile h2 {
  font-size: 2vw;
  margin-bottom: 2vw;
}
.profile p {
  font-size: 1.2vw;
  font-weight: 100;
  text-align: justify;
}
.profile.profile {
  background: green;
}

.form {
  height: 100%;
  width: 40vw;
  background: black;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  color: black;
  padding: 1vw;
}
.form .contact-text {
  height: 100%;
  background: white;
  padding: 1vw 0.4vw 1vw 1vw;
  position: relative;
}
.form .contact-text h3,
.form .contact-text p {
  background: black;
  font-size: 1vw;
}
.form .contact-text h3 {
  padding: 6vw;
  margin-bottom: 1vw;
}
.form .contact-text .p {
  height: 100%;
  padding: 2vw;
  font-weight: 400;
  text-align: justify;
  text-transform: uppercase;
}
.form .contact-text .foto {
  width: 100%;
  height: 100%;
  background: url("artist.png");
  background-size: cover;
  opacity: 1;
  filter: grayscale(10%) contrast(150%) brightness(200%);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.form div {
  color: white;
  background: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  border: 2px solid white;
  padding: 1vw 1vw 1vw 0.4vw;
}
.form div ::placeholder,
.form div input {
  color: #727272;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8vw;
}
.form div input,
.form div textarea,
.form div input {
  width: 100%;
  margin-bottom: 0.3vw;
  padding: 0.6vw;
  border: 1px solid white;
  background: black;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
}
.form div input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.form div input[type=date]::-webkit-calendar-picker-indicator {
  color: white;
}
.form div input[type=date] {
  font-size: 0.8vw;
  color: #727272;
}
.form div button {
  border: none;
  padding: 0.3vw 0vw;
  color: white;
  background: black;
  font-weight: 500;
  width: 100%;
  height: 4vw;
  margin-top: 5vw;
  align-self: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
}

#events {
  height: 100%;
  width: 40vw;
  background: radial-gradient(black, #333233);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2vw;
  position: relative;
}
#events h3 {
  margin-bottom: 1vw;
}
#events h3,
#events p {
  font-size: 1.2vw;
}
#events .event-list {
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  padding-top: 2vw;
  height: 85%;
  overflow: scroll;
}
#events .event-list::-webkit-scrollbar-track {
  background: transparent;
}
#events .event-list::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.8);
}
#events .event-list::-webkit-scrollbar {
  width: 12px;
}
#events .event-list::-webkit-scrollbar:horizontal {
  display: none;
}
#events #event-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
}
#events #event-item:hover {
  border: 1px solid white;
  background-color: #6b6b6b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236b6b6b'/%3E%3Cstop offset='1' stop-color='%232b2b2b'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23545454' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.releases {
  height: 100%;
  width: 40vw;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2vw;
  position: relative;
  background: radial-gradient(black, #333233);
}
.releases h3 {
  margin-bottom: 1vw;
}
.releases h3,
.releases p {
  font-size: 1.3vw;
}
.releases .release-list {
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  padding-top: 2vw;
  height: 85%;
  overflow: scroll;
  overflow: visible;
}
.releases .release-list::-webkit-scrollbar-track {
  background: transparent;
}
.releases .release-list::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.8);
}
.releases .release-list::-webkit-scrollbar {
  width: 12px;
}
.releases .release-list::-webkit-scrollbar:horizontal {
  display: none;
}
.releases .release-list .release-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  height: 14vw;
  width: 100%;
  transition: background-color 0.3s ease-in;
  padding: 1vw;
}
.releases .release-list .release-item:hover {
  border: 1px solid white;
  background-color: #6b6b6b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='60%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236b6b6b'/%3E%3Cstop offset='1' stop-color='%232b2b2b'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23545454' stroke-width='2' stroke-miterlimit='10' stroke-opacity='.5'%3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill-opacity='.5' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.releases .release-list .release-item .release-pic > img {
  width: 12vw;
  height: 12vw;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0vw 0vw 3vw rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 9%;
  top: 5%;
}
.releases .release-list .release-item .release-pic #big-pic {
  position: absolute;
  left: 9%;
  top: 7%;
  z-index: 9;
  box-shadow: 0vw 0vw 3vw rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: scale(1) translate(0%, 0%);
}
.releases .release-list .release-item .release-pic #big-pic:hover {
  z-index: 11;
  transform: scale(1.7);
}
.releases .release-list .release-item #mini-pic {
  display: none;
  width: 14%;
  border-radius: 50%;
  bottom: 15%;
  left: 4%;
  box-shadow: 2px 3px 4px rgba(128, 128, 128, 0.8);
  position: absolute;
  z-index: 10;
  transition: 0.5s ease-in-out;
}
.releases .release-list .release-item #mini-pic:hover {
  z-index: 11;
  box-shadow: 3px 0px 6px rgba(128, 128, 128, 0.8);
  transform: scale(2.4);
}
.releases .release-list .release-item .release-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 60%;
  left: 13%;
  z-index: 12;
  margin-left: 12vw;
}
.releases .release-list .release-item .release-details .release-name {
  margin-bottom: 2vw;
}
.releases .release-list .release-item .release-details .release-name span {
  margin: 0vw 0.5vw;
}
.releases .release-list .release-item .release-details .release-name {
  background: black;
  padding: 0.3vw;
  width: 55%;
}
.releases .release-list .release-item .release-details .tracklist > p {
  font-size: 1vw;
  line-height: 1.5vw;
  width: 86%;
}

/* ------------- Additonal Styling ---------*/
.back,
.vinyl-shop {
  font-style: italic;
  position: absolute;
  bottom: 1.5vw;
  font-size: 1vw;
  color: white;
  align-self: flex-start;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 0%;
  padding: 0vw 1vw 0vw 0vw;
  left: 3.5%;
}
.back:hover,
.vinyl-shop:hover {
  background: white;
  color: black;
  padding: 0vw 1vw 0vw 1vw;
  width: 9%;
}
.back:active,
.vinyl-shop:active {
  width: 40%;
}

/*# sourceMappingURL=sp20N.css.map */
