@mixin bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin primary-font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@mixin font-menu {
    font-size: 1.5vw;

}

@mixin form-width {
    width: 50%;
}


@mixin h2 {
    font-size: 2vw;
}

@mixin p {
    font-size: 1.2vw;
    font-weight: 100;
}

@mixin nav-font {
    color: white;
    padding: 0.3vw 0vw;
    letter-spacing: 0.3vw;
    font-weight: 500;
}

@mixin scroll {
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
        display: none;
    }
}

@mixin shape {
    width: 4vw;
    height: 4vw;
    color: white;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in;
    color: transparent;
    border-radius: 12px;
    transform: scale(0.1);

}







* {
    box-sizing: border-box;
    margin: 0px;
    cursor: url("tags/pointerS.png"), auto;

    @include primary-font;
}






body {
    width: 100vw;
    height: 100vh;
    background: url("cannabis-2150543_1280.jpg");
    @include bg-img;
    display: flex;
    justify-content: center;
    align-items: center;


}

header:hover,
a[href]:hover,
#logo:hover {
    cursor: url("tags/poiter-lin.png"), auto;

}

#container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}

header {
    font-size: 4vw;
    background: black;
    color: white;
    padding: 0.1em 0.2em;


    &:hover {
        cursor: url("tags/poiter-lin.png"), auto;
    }


    a {
        text-decoration: none;
        color: white;
    }
}

nav {
    position: relative;


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: absolute;
        top: 10vh;


        li {
            margin-bottom: 1vw;

            @include font-menu;

            a {
                text-decoration: none;
                @include nav-font;



                &:hover {
                    background-color: rgba($color: grey, $alpha: 0.5);
                    padding: 0.3vw;
                }


            }

            .current {
                background-color: black;
                padding: 0.2vw 0.5vw;

            }
        }



    }
}




footer {
    display: flex;
    position: absolute;
    bottom: 0%;

    display: none;




    ul {
        list-style: none;
        display: flex;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;




        li {
            margin: 0vw 0vw;



            i {
                font-size: 1.5vw;
                padding: 0.5vw;
                color: white;
                text-shadow: 0vw 0vw 3vw black;



            }



            #shape1 {

                @include shape();
                background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                transition: scale(0) .5s ease-in;




                &:hover {

                    transform: scale(1);



                }


            }

            #shape2 {
                @include shape();
                background: #4267b2;
                transition: scale(0) .5s ease-in;




                &:hover {
                    transform: scale(1);

                }


            }

            #shape3 {
                @include shape();
                transition: scale(0) .5s ease-in;
                background: #ff7700;


                &:hover {
                    transform: scale(1);




                }


            }




        }





    }


}

.artist {
    height: 100%;
    width: 40vw;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    opacity: 0.8;


    padding: 2vw 2vw 4vw 2vw;

    background: rgb(158, 120, 152);



    .titel {

        margin-bottom: 1vw;
        color: red;
        font-size: 1.3vw;
        align-self: flex-start;


    }



    img {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }

    #iconset-cont {
    color: white;
    background: orange;
    margin: 0;
    height: 10%;
    width: 60%;
    bottom: 1%;
    right: 8%;
}

    .nikk-profile,
    .pr {
        color: white;
        display: none;
        margin: 0;
        height: 90%;
        // padding: 0vw 1vw 5vw 1vw;
        border-bottom: 1px solid white;
        position: absolute;
        // display: flex;
        flex-direction: column;
        align-content: space-between;
        left: 0%;
        top: 0%;
        background: rgb(39, 39, 39);



        h4 {
        padding: 0.5vw 1.5vw 0.5vw 1.5vw;
        font-size: 1.5vw;
        margin-top: 1vw;
        }

        p {
            height: 58.5%;
            overflow: scroll;
            text-align: justify;
            padding: 0vw 1.5vw 0vw 1.5vw;
            margin-top: 1.5vw;

        }


    }

    .a-selection {
        // margin: 2vw;
        height: 100%;
        width: 100%;

        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: scroll;
        position: relative;

        margin-left: -0.3vw;
        margin-top: 0vw;
        margin-bottom: 0vw;






        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar:horizontal,
        &::-webkit-scrollbar:vertical {
            display: none;
        }


    }

    #card-nikk {
        width: 25%;
        position: absolute;
        top: 10%;





    }

    #card-fjaak {
        width: 26%;
        position: absolute;
        left: 38%;
        top: 10%;

    }

    #card-fadi {
        width: 28%;
        position: absolute;
        top: 34%;

    }

    #card-manuel {
        width: 27%;
        position: absolute;
        top: 34%;
        left: 35%;

    }

    #card-victor {
        width: 24%;
        position: absolute;
        top: 57%;
        left: 1%;

    }

    #card-balas {
        width: 20%;
        position: absolute;
        top: 57%;
        left: 41%;

    }

    #card-claus {
        width: 26%;
        position: absolute;
        left: 1%;
        top: 83%;
        // transform: rotate(8deg);



    }

    #card-anna {
        width: 22%;
        position: absolute;
        top: 89%;
        left: 43%;

    }

    #card-framework {
        width: 33%;
        position: absolute;
        top: 105%;
        left: 0%;

    }






    .a-card {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        // object-fit: cover;
        margin: 0;
        position: relative;
        z-index: 5;
        width: 30%;
        height: 40%;
        // margin: 0.2vw;
        // margin-bottom: -0.5vw;
        margin-top: -5vw;
        margin-left: 7vw;

        // border: 2px solid green;





        overflow: visible;


        transition-property: scale(1);
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.93, -0.61, .11, 1.27);
        transform-origin: 50% 50%;


        &:hover {
            transform: scale(1.5);
            overflow: hidden;
            z-index: 0;
            fill: white;
        }

        &:active {
            transform: scale(0.9);
            overflow: hidden;
            z-index: 0;

        }




        svg {
            width: 100%;
            object-fit: fill;





            .st0,
            path {
                fill: white;
            }
        }








        .profile {
            position: absolute;
            background: green;
            width: 40vw;
            margin: -0.5vw;
            padding: 1.8vw;
            top: -30vw;




            h2 {
                @include h2;
                margin-bottom: 2vw;
            }

            p {
                @include p;
                text-align: justify;


            }


        }






        &.profile {
            background: green;

        }
    }







    }

    .form {
        height: 100%;
        width: 40vw;
        background: black;
        opacity: 0.8;
        display: flex;
        justify-content: flex-end;

        position: relative;
        overflow: hidden;
        color: black;
        padding: 1vw;

        .contact-text {
            height: 100%;
            background: white;
            padding: 1vw 0.4vw 1vw 1vw;
            position: relative;

            h3,
            p {
                background: black;
                font-size: 1vw;
            }

            h3 {
                padding: 6vw;
                margin-bottom: 1vw;

            }

            .p {
                height: 100%;
                padding: 2vw;
                font-weight: 400;
                text-align: justify;
                text-transform: uppercase;

            }

            .foto {
                width: 100%;
                height: 100%;
                background: url("artist.png");
                background-size: cover;
                opacity: 1;
                filter: grayscale(10%) contrast(150%) brightness(200%);

                background-repeat: no-repeat;
                background-position: center;

                border: none;

            }


        }

        div {
            color: white;

            background: white;
            display: flex;
            flex-direction: column;

            width: 50%;
            position: relative;

            border: 2px solid white;
            padding: 1vw 1vw 1vw 0.4vw;



            ::placeholder,
            input {

                color: rgb(114, 114, 114);
                font-style: italic;

                @include primary-font;
                font-size: 0.8vw;

            }


            input,
            textarea,
            input {

                width: 100%;
                margin-bottom: 0.3vw;
                padding: 0.6vw;
                border: 1px solid white;
                background: black;
                color: white;
                font-style: normal;

                text-transform: uppercase;

                text-align: right;

                &:focus {}
            }

            input[type="date"]::-webkit-inner-spin-button {
                display: none;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                color: white;

            }

            input[type="date"] {
                font-size: 0.8vw;
                color: rgb(114, 114, 114);


            }

            button {
                border: none;
                padding: 0.3vw 0vw;
                color: white;
                background: black;
                font-weight: 500;
                width: 100%;
                height: 4vw;
                margin-top: 5vw;


                align-self: flex-end;

                @include primary-font;
                font-size: 1.5vw;

            }
        }





    }

    #events {
        height: 100%;
        width: 40vw;
        background: black;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 2vw;
        position: relative;

        h3 {
            margin-bottom: 1vw;
        }

        h3,
        p {
            font-size: 1.2vw;
        }

        .event-list {
            border-top: 0.1vw solid white;
            border-bottom: 0.1vw solid white;
            padding-top: 2vw;
            height: 85%;
            overflow: scroll;


            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
            }

            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar:horizontal {
                display: none;
            }
        }


        #event-item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 2vw;
            padding-bottom: 0.5vw;
            border-bottom-width: 0vw;
            border-bottom-style: solid;
            border-image-source:
                linear-gradient(45deg,
                    rgba($color: grey, $alpha: 0.0),
                    rgba($color: grey, $alpha: 0.0),
                    rgba($color: white, $alpha: 1.0),
                    rgba($color: grey, $alpha: 0.0),
                    rgba($color: grey, $alpha: 0.0));
            border-image-slice: 1;

        }


    }

    .releases {

        height: 100%;
        width: 40vw;
        background: black;
        opacity: 0.8;
        color: white;
        display: flex;
        flex-direction: column;
        color: white;
        padding: 2vw;
        position: relative;

        h3 {
            margin-bottom: 1vw;
        }

        h3,
        p {
            font-size: 1.3vw;
        }

        .release-list {
            border-top: 0.1vw solid white;
            border-bottom: 0.1vw solid white;
            padding-top: 2vw;
            height: 85%;
            overflow: scroll;
            overflow: visible;

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba($color: rgb(44, 44, 44), $alpha: 0.8);
            }

            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar:horizontal {
                display: none;
            }

            .release-item {

                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 0vw;
                position: relative;
                height: 12vw;
                margin-bottom: 2vw;
                transition: background-color .3s ease-in;

                &:hover {
                    background-color: rgba($color: green, $alpha: 0.7);
                }





                .release-pic>img {
                    width: 10vw;
                    height: 10vw;
                    background-size: cover;
                    background-repeat: no-repeat;
                    box-shadow: 0vw 0vw 3vw rgba($color: white, $alpha: 0.5);
                    border-radius: 50%;
                    position: absolute;
                    left: 9%;
                    top: 5%;




                }

                .release-pic #big-pic {
                    position: absolute;
                    left: 9%;
                    top: 5%;
                    z-index: 9;
                    box-shadow: 0vw 0vw 3vw rgba($color: black, $alpha: 0.5);
                    transition: 0.5s ease-in-out;
                    transform: scale(1) translate(0%, 0%);



                    &:hover {
                        z-index: 11;
                        transform: scale(1.3);

                    }

                }



                #mini-pic {
                    position: absolute;
                    width: 14%;
                    border-radius: 50%;
                    bottom: 15%;
                    left: 0%;
                    box-shadow: 2px 3px 4px rgba($color: grey, $alpha: 0.8);
                    position: absolute;
                    z-index: 10;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        z-index: 11;
                        box-shadow: 3px 0px 6px rgba($color: grey, $alpha: 0.8);

                        transform: scale(2.3) translate(30%, -10%);

                    }
                }





                .release-details {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    margin-left: 12vw;



                    .release-name {
                        margin-bottom: 2vw;


                        span {
                            margin: 0vw 0.5vw;
                        }
                    }

                    .tracklist {}

                    .tracklist>p {
                        font-size: 1vw;


                    }
                }

            }

        }
    }






    /* ------------- Additonal Styling ---------*/

    .back,
    .vinyl-shop {
        font-style: italic;
        position: absolute;
        bottom: 1.5vw;
        font-size: 1vw;
        color: white;
        align-self: flex-start;
        position: absolute;
        transition: all .4s ease-in-out;
        width: 0%;
        padding: 0vw 1vw 0vw 0vw;
        left: 3.5%;




        &:hover {
            background: white;
            color: black;
            padding: 0vw 1vw 0vw 1vw;
            width: 9%;


        }

        &:active {
            width: 40%;
        }
    
}

