* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background:url("0b27fa11e10622715f2770adc7df1db8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;

}


 header {
     grid-column-start: 2;
     grid-column-end: 5;
     grid-row-start: 2;
     grid-row-end: 5;
     background: black;
     opacity: 0.8;
     color: white;
     display: grid;
     place-items: center;
     font-size: 4vw;

    }




nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 12;
    background: transparent;
     color: red;
     display: grid;
     place-items: end start;
     
     /* display: flex;
     flex-direction: column;
     justify-content: flex-end;  
     align-item: flex-start; */
 
     
} 

section {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 12;
    background: black;
    opacity: 0.8;
    color: white;

     
}

/* #container > #artist-header {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
    opacity: 0.8;
    background:url("../spandau20/Screen\ Shot\ 2019-09-17\ at\ 23.38.37.png");
    background-size: cover;
    background-repeat: no-repeat;

} */



aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8;
    background: transparent;
     color: black;
  
}

ul, li {
    list-style: none;
    padding: 0;
    text-decoration: none;
    font-size: 1.3em;
}

/* ------------------------- General END */
#container > nav > ul > li {
<<<<<<< HEAD
    margin-top: 2vh;
    color: black;
=======
    margin-top: 2vw;
    color: white;
>>>>>>> 7f3fa6b113b592902228452670330045735f4e32
    font-size: 1.3vw;

}

#container > nav > ul > li  {
    text-shadow: 0px 0px 15px lightblue;

}

<<<<<<< HEAD
#container > section > li {
    margin: 2vw 2vw; /* artist list position */
=======
#container > section > ul {
    margin: 14.5vw 2vw;
>>>>>>> 7f3fa6b113b592902228452670330045735f4e32
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}
#container > section > ul > li {
    margin-bottom: 1.5vh;
    width: 40%;
    font-size: 1.3vw;

}

#container > section > ul > li:hover {
    margin-bottom: 1.5vw;
    letter-spacing: 1vw;
    background: grey;
}










